<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@article, html: { multipart: true }) do |f| %>
      <fieldset>
        <ol>
          <li>
            <%= f.label :name %>
          </li>
          <li>
            <%= f.text_area :name, :cols => 80 %>
          </li>
          <li>
            <%= f.label :body %>
          </li>
          <li>
            <%= f.text_area :body, :rows => 20, :cols => 80 %>
          </li>
          <li>
            <%= f.submit(@article.new_record? ? 'Create Article' : 'Edit Article', class: "btn btn-success") %>
          </li>
        </ol>
      </fieldset>
    <% end %>  
  </div>
</div>
