<%= render 'shared/page_title', title: @article.name %>

<div class="row">
  <% if logged_in? && current_user.admin? %>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-default pull-right" %>
      <%= link_to "Delete this article", @article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-left" %>
    <% end %>
  <div class="col-md-8 col-md-offset-2">
    <h5><%= raw @article.body %></h5>
  </div>
</div>

<hr/>
<p>
  <%= link_to "Comments", "#", id: "comments-link", remote: true %>
</p>

<section id="comments-section">
  
  <ol id="comments">
    <%= render 'comments/comment' %>
  </ol>
  
  <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
    <fieldset>
      <ol>
        <li>
          <%= f.text_area :comment, rows: 2, cols: 60, placeholder: "Write a comment..." %>
        </li>
        <li>
          <%= f.submit("Post Comment", class: "button") %>
        </li>
      </ol>
    </fieldset>
  <% end %>
    
</section>
